body{
   background-image: url(/Users/franksantiesteban/Desktop/TriviaGame/assets/images/wpid-rocky-movie.jpg);
   text-align: center;
   opacity: 0.9;
   

}

h1{
    background: lightblue;
   
}

#Start{
    background: lightblue;

}

p {
    background: clear;
    color:darkred;

}

