body{
   background-image: url(../images/wpid-rocky-movie.jpg);
   text-align: center;
   
}
  
#Start{
    background: lightblue;
    
}

#wrapper{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#subwrapper {
    color:tomato;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

